# global
/cmds.txt
/.env

# kafka
/kafka-moniter/kafkaenv
/kafka-moniter/__pycache__

# data sourcer
/data_sourcing/source
/data_sourcing/sourceenv
/data_sourcing/__pycache__

# spark
/batch-processing/sparkenv
/batch-processing/output
/stream-processing/streamenv
/stream-processing/checkpoints
/stream-processing/output
# stocksly server
/stocksly/mpenv
/stocksly/db.sqlite3